{% extends"bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{ super() }}
    <link rel="shotcut icon" href="{{ url_for('static',filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block title %}
    uybery
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="sr-only">hello</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/">huybery'blog</a>
         </div>
         <div class="navbar-collapse">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
             </ul>
         </div>
     </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}



    {% block page_content %}
    <h1>Hello,{% if name %}{{ name }}{% else %}Stronger!welcome to huyber's blog{% endif %}</h1>
        <p>this dte and time is {{ moment(current_time).format('LLL') }}</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    {% endblock %}
</div>
    {{ wtf.quick_form(form) }}
{% endblock %}


