{% extends "bootstrap/base.html" %}



{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename = 'favicon.ico') }}">
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="http://cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet">
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/headroom/0.7.0/headroom.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

{% endblock %}
{% block title %}huybery{% endblock %}



{#nav#}
{% block navbar %}
    <div id="loading"></div>
    <header class="header" id="header">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">huybery</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}">Sign Out</a> </li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}">Sign In</a> </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% block page_image %}{% endblock %}
{% endblock %}



{#content#}
{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="go_up">
        <a href="#"><p><i class="glyphicon glyphicon-hand-up"></i></p></a>
    </div>
{% endblock %}



{#js#}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type="text/javascript">
        var myElement = document.querySelector("header");
        // 创建 Headroom 对象，将页面元素传递进去
        var headroom  = new Headroom(myElement);
        // 初始化
        headroom.init();

        $(".go_up").click(function () {
        var speed=600;//滑动的速度
        $('body,html').animate({ scrollTop: 0 }, speed);
        return false;
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock %}