{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}uybery{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        {% if current_user.is_authenticated %}
             (づ￣ ³￣)づ  {{ current_user.username }}
            </h1>
            <p>主人么么哒</p>
            {{ wtf.quick_form(form) }}
        {% endif %}
</div>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-date">
            {{ moment(post.timestamp).format('YYYY-MM-DD HH:mm:ss') }}
        </div>
        <div class="post-head">
            <h1>{{ post.head }}</h1>
        </div>
        <div class="post-body">
            {% if post.body_html %}
                {{ post.body_html | safe | truncate(200, True, end='...') }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </div>
        <div>
            <span class="label label-info">{{ post.tag }}</span>
        </div>
        <a href="{{ url_for('.post',id=post.id) }}">
            <span class="label label-success">快点我！</span>
        </a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('.edit',id=post.id) }}">
            <span class="label label-primary">Edit</span>
        </a>
    {% endif %}
    </li>
        <hr />
    {% endfor %}
</ul>
<div class="pagination">
    {{ macros.pagination_widget(pagination,'.index') }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
