{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}huybery{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.username }}</h1>
            {{ wtf.quick_form(form) }}
        <p>{% else %}Stranger{% endif %}</p>
</div>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-date">
            {{  moment(post.timestamp).calendar() }}
        </div>
        <div class="post-tag">
            {{ post.tag }}
        </div>
        <div class="post-head">
            {{ post.head }}
        </div>
        <div class="post-body">
            {{ post.body }}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
