{% extends "base.html" %}

{% block title %}post{% endblock %}

{% block page_content %}
    <ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-date">
            {{ post.timestamp.now().strftime("%Y-%m-%d %H:%M:%S") }}
        </div>
        <div class="post-head">
            {{ post.head }}
        </div>
        <div class="post-body">
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </div>
        <div>
            <span class="label label-danger">{{ post.tag }}</span>
        </div>
        <a href="{{ url_for('.post',id=post.id) }}">
            <span class="label label-danger">快点我！</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}